.textBox {
  position: absolute;
  top: 32px;
  left: 0;
}

.nameBox {
  position: absolute;
  top: 5px;
  left: 58px;

  background-color: var(--rosy-brown);
  padding: 10px 40px;
  border-radius: 50px;

  color: var(--white);
  font-size: xx-large;
  font-weight: 900;
  letter-spacing: 0.07em;

  transform: rotate(-5deg);
}

.text {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;

  color: var(--liver);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.07em;
}

.arrow {
  position: absolute;
  right: 50%;
  top: 92%;
  cursor: pointer;
  animation: bounceY 1.5s ease-in-out infinite;
  transition: transform 0.2s ease;
  /* transform: translateY(0) scale(1) scaleY(1); */
}

@keyframes bounceY {
  0%,
  100% {
    transform: translateY(0) scaleY(1);
  }
  50% {
    transform: translateY(10px) scaleY(0.85);
  }
}

.textBoxContainer {
  transform: scale(1);
  transition: transform 0.2s ease;
}

.textBoxContainerHidden {
  transform: scale(0);
  transition: transform 0.2s ease;
}

.optionsList {
  /* display: none; */
  /* position: absolute; */
  position: relative;
  top: -275px;
  right: -700px;
  padding: 30px 50px;
  width: fit-content;

  display: flex;
  flex-direction: column;
  row-gap: 5px;

  border-radius: 100px;

  background-color: var(--cavern-pink);

  /* transform: translate(700px, -250px); */
  transition: transform 0.2s ease;
}

.optionsListHidden {
  display: none;
  transform: scale(0);
  transition: transform 0.2s ease;
}

.optionsListVisible {
  /* display: unset; */
  transform: scale(1);
  transition: transform 0.2s ease;
}

.option {
  display: block;
  width: fit-content;
  height: fit-content;

  color: var(--liver);
  font-size: xx-large;
  font-weight: 900;
  letter-spacing: 0.07em;

  cursor: pointer;
}

.optionArrow {
  position: absolute;
  /* position: relative; */
  /* top: 53px;
  left: -4px; */

  animation: bounceX 1.5s ease-in-out infinite;
}

.optionHighlight {
  position: relative;
  top: 42px;
  left: -5px;

  height: 16px;
  width: calc(100% + 10px);

  background-color: var(--old-rose);

  border-radius: 100px;
}

@keyframes bounceX {
  0%,
  100% {
    transform: translate(-55px, 20px) scaleX(1);
  }
  50% {
    transform: translate(-45px, 20px) scaleX(0.95);
  }
}
