.textBox {
  position: absolute;
  inset: 0;
  height: 100%;
  width: fit-content;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-height: 100%;
  }
}

.nameBox {
  position: absolute;
  top: -20px;
  left: 50%;

  background-color: var(--rosy-brown);
  padding: 8px 30px;

  border-radius: 50px;

  color: var(--white);
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.07em;

  transform: translateX(-125%) rotate(-5deg);

  @media (min-width: 768px) {
    font-size: 24px;
    padding: 10px 40px;
    transform: translateX(-175%) rotate(-5deg);
  }
}

.text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;

  padding: 36px 0;

  color: var(--liver);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.07em;

  @media (min-width: 768px) {
    padding: 45px 0;
    font-size: 24px;
  }
}

.arrow {
  position: absolute;
  left: 50%;
  bottom: -5px;
  cursor: pointer;
  animation: bounceY 1.5s ease-in-out infinite;

  @media (min-width: 768px) {
    bottom: -10px;
  }
}

@keyframes bounceY {
  0%,
  100% {
    transform: translateY(0) scaleY(1) translateX(-50%);
  }
  50% {
    transform: translateY(10px) scaleY(0.85) translateX(-50%);
  }
}

.textBoxContainer {
  transform: scale(1);
  transition: transform 0.2s ease;
}

.textBoxContainerHidden {
  transform: scale(0);
  transition: transform 0.2s ease;
}

.optionsList {
  position: relative;
  top: -170px;
  left: 135px;
  padding: 25px 32px;
  width: fit-content;

  display: flex;
  flex-direction: column;

  border-radius: 70px;

  background-color: var(--cavern-pink);

  transition: transform 0.2s ease;

  @media (min-width: 768px) {
    top: -215px;
    left: calc(50% + 135px);
    padding: 30px 50px;
  }
}

.optionsListHidden {
  display: none;
  transform: scale(0);
  transition: transform 0.2s ease;
}

.optionsListVisible {
  transform: scale(1);
  transition: transform 0.2s ease;
}

.option {
  display: block;
  width: fit-content;
  height: fit-content;

  color: var(--liver);
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.07em;

  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.optionArrow {
  position: absolute;
  animation: bounceX 1.5s ease-in-out infinite;
}

.optionHighlight {
  position: relative;
  top: 26px;
  left: -5px;

  height: 10px;
  width: calc(100% + 10px);

  background-color: var(--old-rose);

  border-radius: 100px;

  @media (min-width: 768px) {
    top: 32px;
    font-size: 24px;
  }
}

@keyframes bounceX {
  0%,
  100% {
    transform: translate(-55px, 10px) scaleX(1);
  }
  50% {
    transform: translate(-45px, 10px) scaleX(0.95);
  }
}
