.textBox {
  position: absolute;
  top: 32px;
  left: 0;
}

.nameBox {
  position: absolute;
  top: 19px;
  left: 58px;

  background-color: var(--rosy-brown);
  padding: 10px 40px;
  border-radius: 50px;

  color: var(--white);
  font-size: xx-large;
  font-weight: bold;

  transform: rotate(-5deg);
}

.text {
  position: absolute;
  top: 108px;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  height: 80px;

  color: var(--liver);
  font-size: 30px;
  font-weight: bold;

  text-overflow: ellipsis;
}

.arrow {
  position: absolute;
  right: 50%;
  top: 92%;
  cursor: pointer;
  animation: bounce 1.5s ease-in-out infinite;
  transition: transform 0.2s ease;
  /* transform: translateY(0) scale(1) scaleY(1); */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) scaleY(1);
  }
  50% {
    transform: translateY(10px) scaleY(0.85);
  }
}