.base {
  left: 13.63px;
  top: 55.1px;
}

.shirt {
  left: 0px;
  top: 686.08px;
}

.sides {
  top: 279.78px;
  left: 56.63px;
}

.smile {
  top: 527.77px;
  left: 287.74px;
}

.eyeRight {
  top: 203px;
  left: 366px;
}

.eyeLeft {
  top: 203px;
  left: 77px;
}

.irisRight {
  left: 19.69px;
  top: 124.07px;
}

.irisLeft {
  left: 49.77px;
  top: 124.07px;
}

.eyeLeftOpen {
  top: 0;
  left: 0;
}

.eyeRightOpen {
  top: 0;
  left: 0;
}

.eyelashRightOpen {
  left: 1.76px;
  top: 95.8px;
}

.eyelashLeftOpen {
  left: 7.53px;
  top: 96.52px;
}

.hair1 {
  left: 36.67px;
  top: 23.73px;
}

.bangs1 {
  left: 53.64px;
  top: 33.98px;
}

.eyeLeftMidClosed {
  top: 0;
  left: 2.77px;
}

.eyeRightMidClosed {
  top: 0;
  left: 2.77px;
}

.eyeLeftClosed {
  top: 22.98px;
  left: 17.76px;
}

.eyeRightClosed {
  top: 22.98px;
  right: 17.76px;
}

.eyelashRightMidClosed {
  top: 113.85px;
  right: 12.06px;
}

.eyelashLeftMidClosed {
  top: 113.85px;
  left: 12.06px;
}
