.shirt {
  top: 650px;
  left: 21px;
}

.sides {
  top: 228px;
  left: 69px;
}

.smile {
  top: 475px;
  left: 298px;
}

.eyeRight {
  top: 203px;
  left: 366px;
}

.eyeLeft {
  top: 203px;
  left: 77px;
}

.irisRight {
  top: 328px;
  left: 388px;
}

.irisLeft {
  top: 328px;
  left: 127px;
}

.eyelashRightOpen {
  top: 299px;
  left: 369px;
}
.eyelashLeftOpen {
  top: 299px;
  left: 85px;
}

.hair1 {
  left: 49px;
  top: -30px;
}

.bangs1 {
  left: 61px;
  top: -20px;
}
