@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --background: #f5f2f0;
  --foreground: #171717;

  --seashell: #f5e9e4;
  --champagne-pink: #f1dad1;
  --rosy-brown: #bc877b;
  --liver: #68493e;
  --rose-taupe: #805f54;
  --bittersweet-shimmer: #b65854;
  --cavern-pink: #e0c0b4;
  --old-rose: #cc8a7b;
  --redwood: #a35847;

  --white: #fff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.07em;
  color: var(--liver);
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--liver);
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--rose-taupe);
}

p {
  font-size: 13px;
  line-height: normal;
}

body {
  color: var(--liver);
  background: var(--background);
}

.page {
  background: var(--background);
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
