@import '../scssStyles/mixins';

.home-page {
    //margin: 5%;
    width: 100%;
}

.home-landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 12% 5%;

    animation: 2s ease-out 0s 1 slide-up;
}

.home-landing-connect {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  
  width: 50%;
}

.home-landing-name {
  width: 100%;
  pointer-events: none;
}

.contact-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

.home-contact-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-contact-icon {
  width: 35%;
  transition: transform 200ms;

  &:hover {
    transform: scale(1.04);
    transition: transform 200ms;
  }
  &:active {
    transform: scale(0.97);
    transition: transform 200ms;
  }
}

.home-character {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.home-character-img {
  position: absolute;
  width: 100%;
}

.helloim {
  text-align: center;
}
.student {
  width: 90%;
  text-align: center;
  margin-bottom: 40px;
}


@keyframes slide-up {
  0% {
    transform: translateY(-5%);   
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}